h1{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    width: auto;
    margin: 0 auto;
}
body{
    background-color: rgb(255, 207, 233);
}
p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    text-align: center;
}
img{
    display: inline-block;
    width: 350px;
    height: 250px;
    margin: 30px;
}
button{
    background-color: rgb(185, 164, 249);
    border-color: rgb(255, 255, 255);
    width: 150px;
    height: 50px; 
    font-weight: bold;
}

.cat{
    background-color: azure;
    height: 30px;
}
.bonus{
    font-weight: bolder;
}