/* .message {
    padding: 10px;
    border-radius: 8px;
    background: #eee;
    color: #000;
    width: fit-content;
    margin-bottom: 10px;
}

.dark {
    background: black;
    color: white;
    padding: 10px;
    border-radius: 8px;
} */

/* body {
      font-family: Arial;
      text-align: center;
      margin-top: 50px;
    }

    input {
      padding: 10px;
      font-size: 18px;
    }

    button {
      padding: 10px 15px;
      font-size: 18px;
      cursor: pointer;
      margin-left: 10px;
    } */
