/* .page{
    width: 600px;
    margin: 20px auto;
}
.header{
    padding: 20px;
    background-color: gray;
}
.content{
    display: flex;
}
.sidebar{
    background-color: rgb(201, 201, 201);
    padding: 20px;
    width: 200px;
}
.main{
    background-color: azure;
    padding: 20px;
    width: 400px;
}
.footer{
    background-color: bisque;
    padding: 20px;
    color: black;
}
img{
    width: 250px;
    height: 160px;
    display: block;
    margin: auto;

}
.reclama{
    width: 180px;
    height: 180px;
}
.casino{
    width: 180px;
    height: 180px;  
}
.logo{
    width: 60px;
    height: 60px;
    display: block;
    margin: 0px;
    
} */


.page{
    width: auto;
    margin:  auto;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}


.header{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    padding: 15px;

}


.basket{
    font-size: medium;
    background-color: rgb(248, 152, 217);
    height: 15px;
}



/* Заголовок */
h1 {
  text-align: center;
  color: white;
  padding: 30px 0;
}

/* Flex контейнер */
.products {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  padding: 20px;
}

/* Карточка */
.card {
  width: 220px;
  background: white;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  

}


/* Картинка */
.card img {
  width: 100%;
  border-radius: 10px;
}

/* Цена */
.price {
  font-weight: bold;
  font-size: 18px;
  color: #4facfe;
  margin: 10px 0;
}

/* Кнопка */
button {
  padding: 8px 15px;
  border: none;
  background: #4facfe;
  color: white;
  border-radius: 6px;
  
}



