/* .page{
    width: 600px;
    margin: 20px auto;
}
.header{
    padding: 20px;
    background-color: gray;
}
.content{
    display: flex;
}
.sidebar{
    background-color: rgb(201, 201, 201);
    padding: 20px;
    width: 200px;
}
.main{
    background-color: azure;
    padding: 20px;
    width: 400px;
}
.footer{
    background-color: bisque;
    padding: 20px;
    color: black;
}
img{
    width: 250px;
    height: 160px;
    display: block;
    margin: auto;

}
.reclama{
    width: 180px;
    height: 180px;
}
.casino{
    width: 180px;
    height: 180px;  
}
.logo{
    width: 60px;
    height: 60px;
    display: block;
    margin: 0px;
    
} */


.page{
    width: auto;
    margin:  auto;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}


.header{
    background-color: #B5FF18;
    color: black;
    display: flex; 
    justify-content: center; 
    align-items: center;  
}


.header header{
    font-size: 25px;
    font-weight: bolder;
}

.header img{
    width: 50px;
}



.basket{
    color: black;
    font-size: 22px;
    text-align: center;
    font-weight: normal;
}


.products {
  display: flex;
  justify-content: center;
  gap: 25px;
   margin-bottom: 50px;
}


.card {
  width: 220px;
  background: #B5FF18;
  border-radius: 20px;
  padding: 15px;
  text-align: center;

}

.card img {
  width: 100%;
  border-radius: 12px;
}


.price {
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  margin: 10px 0;
}

button {
  padding: 8px 15px;
  border: none;
  background: #000000;
  color: white;
  border-radius: 6px;
  
}


.footer {
    background-color: #B5FF18;
    color: #000000;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

.footer p {
    margin: 5px 0;
}

